<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %}</title>
		<!-- For responsive site
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
		-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="author" href="{{ site.baseurl }}/humans.txt">
		<meta name="description" content="Description Goes Here">
		<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
		<!--[if IE 7]>
			<html class="ie7"> 
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/font-awesome-ie7.min.css">
		<![endif]-->
		<!--[if IE 8]><html class="ie8"> <![endif]-->		
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="{{ site.baseurl }}/ico/favicon.png">	    
	</head>
	<body>
	<!-- Header
	    ================================================== -->
	<header>

	</header>

	{{ content }}

	<footer>
		<div class="container">
			<a href="http://richbray.me/frap/">Frappuccino</a> with some modifications | © 2013 <a href="mailto:bkconrad@gmail.com">Bryan Conrad</a>
		</div>
	</footer>

	<!-- Footer
	    ================================================== -->

	<!-- Javascripts 
	    ================================================= -->
	<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/custom.js"></script>

    <!-- Analytics
    ================================================== -->
    <script>
		// analytics code
    </script>	
	</body>
</html>